body {
  height: 100vh;
  background-color: RGB(241, 241, 241);
}

header {
  height: fit-content;
  background-color: #0C73FE;
  color: #ffff;
}

#logo {
  width: 5em;
}

.btn-primary {
  border-color: white
}

/* .form-signin {
  background-color: 242, 242, 242;
} */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

footer {
  width: 90%;
  position:relative;
  bottom: 2% !important;
}

.map{
  width: 600px;
  height: 600px;

}
[class*= "copyrights-pane"]{
  display: none !important;
}

.info {
  background-color: rgb(168, 204, 245);
  border-radius: 5px;
  padding: 10px;
  width:70%;
}

.createdRoutes{
  margin-top: 30px;
}

.createdRoutelirofile {
  background-color: rgb(51, 250, 250);
  border-radius: 8px;
  padding: 10px;
  width:70%;
}

.textlirofile {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.routeMapInfo{
  display: flex;
flex-direction: row;
justify-content: space-around;
}

.mapForRouteInfo{
  width: 500px;
  height: 350px;
}

.commentWord{
  padding: 15px;
}
