<img name="family" id="family" src="/pictures/logo/family.png" alt="family cycling">
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Bike facts</h1>
 
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">How Many Bikes Are There in the World?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Nobody knows exactly how many bikes exist in the world, but it is estimated that there are somewhere around 1 billion.
    It’s a huge number. For comparison, there are around 1.5 billion cars in the world.
    At the end of the last century, the numbers ...
</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="https://www.bicycle-guider.com/bike-facts-stats/"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Read full article</button></a>

    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    
  </div>
</div>
</div>
